@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f0f0f0;
}

li {
    line-height: 24px;
}

section {
    margin-bottom: 30px;
}

.wrapper {
    margin: 0 auto;
    max-width: 500px;
    min-width: 460px;
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.container {
    padding: 0px 20px;
}

.header {
    padding: 14px 0;
}

.links {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.about {
    padding: 24px 0;
    background-color: #f0f0f0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.about__row {
    margin-bottom: 30px;
    display: flex;
}

.about__avatar {
    margin-right: 20px;
}

.about__info {
    flex-grow: 1;
}

.about__info ul {
    padding-left: 20px;
    list-style: none;
}

.about__desc {
    line-height: 24px;
}

.avatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.code {
    padding-left: 20px;
    border: 1px dashed gray;
}

.english {
    margin: 0;
    border-bottom: 1px solid #bbb;
}

.title {
    margin: 0 0 40px 0;
    font-size: 34px;
}

.footer {
    padding: 14px 0;
}

.footer__logo {
    display: block;
    height: 20px;
    width: auto;
}
